:root{
    font-family: 'Oxygen', sans-serif;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.content{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 600px;
    overflow-y: scroll;
}

.list{
    min-height: 100%;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2em 2em;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
}

.input{
    padding: 1.8em 2em;
    border: 1px solid black;
    margin-bottom: 30px;
}

.input>input{
    height: 32px;
    font-size: 24px;
}

button{
    background-color: transparent;
    border: none;
    margin: 15px;
}

.icon{
    width: 26px;
    height: 26px;
}

.btn-float{
    position: sticky;
    bottom: 20px;
    left: 100%;
    transform: translateX(-20px);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 2px solid black;
}

.hidden{
    display: none;
}