:root{
    font-family: 'Oxygen', sans-serif;
    --bk-1: rgba(72, 12, 168, .4);
    --bk-2: rgba(86, 11, 173, 1);
    --bk-3: rgba(114, 9, 183, 1);
    --fg-1: rgba(181, 23, 158, 1);
    --fg-2: rgba(247, 37, 133, 1);
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--bk-1);
}

h1{
    color: var(--fg-1);
    font-size: 4em;
    letter-spacing: .5em;
    margin-right: -.5em;
    text-transform: uppercase;
}

h2{
    color: var(--fg-1)
}

.content{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 600px;
    overflow-y: scroll;
}

.list{
    min-height: 100%;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2em 2em;
    border: 1px solid var(--bk-2);
    border-radius: 10px;
    box-shadow: 0 2px 3px var(--bk-2);
    margin: 10px;
    background-color: white;
}

.input{
    padding: 1.8em 2em;
    border: 1px solid black;
    margin-bottom: 30px;
}

.input>input{
    height: 32px;
    font-size: 24px;
}

button{
    background-color: transparent;
    border: none;
    margin: 15px;
}

.icon{
    width: 26px;
    height: 26px;
}

.btn-float{
    position: sticky;
    bottom: 40px;
    left: 100%;
    transform: translateX(-20px);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 2px solid var(--bk-2);
    background-color: var(--bk-2);
}

.hidden{
    display: none;
}